<h3><%= pokemonData.name %></h3>
<p>weight: <%= pokemonData.weight %></p>

<img src="<%= pokemonData.sprites.front_default %>">

<h3>types</h3>
<ul>
    <% pokemonData.types.forEach(function(type){ %>
        <li>
            <%= type.type.name %>
        </li>
    <% }) %>
</ul>

<h3>abilities</h3>
<ul>
    <% pokemonData.abilities.forEach(function(ability){ %>
        <li>
            <%= ability.ability.name %> <br>
            slot: &nbsp; <%= ability.slot %> <br>
            is hidden?: &nbsp; <%= ability.is_hidden %> <br>            
        </li>
        <br>
    <% }) %>
</ul>

<h3>stats</h3>
<ul>
    <% pokemonData.stats.forEach(function(stat){ %>
        <li>
            <%= stat.stat.name %> <br>
            effort: &nbsp; <%= stat.effort %> <br>
            base status: &nbsp; <%= stat.base_stat %> <br>            
        </li>
        <br>
    <% }) %>
</ul>